table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
tr{
    border: 1px solid black;
    margin: 10px;
}
th{
    border: 1px solid black;
    margin: 10px;
}
.main-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}